body { font-family: monospace }
input:invalid { background-color: lightsalmon }
.settings { margin-top: 3ex; font-family: monospace }

input.usage { width: 7ex; font-size: 130%; text-align: right; }
.quota  { width: 4.5ex; margin-top: 0.5ex }
input[type=date] { width: 10em; padding-right: 2em }
.olderv { margin-top: 3em }

.unmusagep { margin-top: 1ex; }

input { font-size: 150% }

td       { text-align: right }
td.tdlab { text-align: left ; padding-left: 1.0ex  }
th       { text-align: right; font-weight: normal }

table { margin-bottom: 1.5ex }

td.peru { padding-left: 1ex }